<section class="section-reviews">
  <h2 class="visually-hidden">Customer reviews</h2>
  <div class="container">
    <div class="swiper">
      <div class="swiper-wrapper">
        <div class="reviews swiper-slide">
          <picture>
            <source
              srcset="
                ./images/customer_reviews/alexandra_krosnik@1x.webp 85w,
                ./images/customer_reviews/alexandra_krosnik@2x.webp 170w
              "
              sizes="(min-width: 85px) 85px"
              type="image/webp"
            />
            <img src="./images/customer_reviews/alexandra_krosnik.png" alt="Team lead" />
          </picture>
          <div class="reviews__comment">
            <p class="reviews__text">
              Hi everyone! I am the team lead of this wonderful team! While we were working on the
              project, I was responsible for the technical side and code quality, checking pull
              requests and sending code for a review. I was also testing the live page, fixing
              errors that appeared during development, writing tasks for the team members. Except
              for this, I developed a part of the site as well. In the process, I realized that it
              is not that important who is in the team, but how the team members interact with each
              other, plan their work, and assess their contribution to achieving set goals. To be in
              a team means to put the team's success above your own, take care of every team-mate,
              and solve problems together. Only by working together, can we achieve truly great
              things!
            </p>
          </div>
          <span class="reviews__points"></span>
          <p class="reviews__person">Alexandra Krosnik, team lead</p>
        </div>
        <div class="reviews swiper-slide">
          <picture>
            <source
              srcset="
                ./images/customer_reviews/andriy_viktorovich@1x.webp 85w,
                ./images/customer_reviews/andriy_viktorovich@2x.webp 170w
              "
              sizes="(min-width: 85px) 85px"
              type="image/webp"
            />
            <img src="./images/customer_reviews/andriy_viktorovich.png" alt="Scrum master" />
          </picture>
          <div class="reviews__comment">
            <p class="reviews__text">
              In the project, I was a Scrum Master and was responsible for the "Advanteges" section.
              I also made a modal window. Working in a team, I have gained invaluable experience.
            </p>
          </div>
          <span class="reviews__points"></span>
          <p class="reviews__person">Andriy Novitskiy, scrum master</p>
        </div>
        <div class="reviews swiper-slide">
          <picture>
            <source
              srcset="
                ./images/customer_reviews/olya_vakhrusheva@1x.webp 85w,
                ./images/customer_reviews/olya_vakhrusheva@2x.webp 170w
              "
              sizes="(min-width: 85px) 85px"
              type="image/webp"
            />
            <img src="./images/customer_reviews/olya_vakhrusheva.png" alt="developer" />
          </picture>
          <div class="reviews__comment">
            <p class="reviews__text">
              The team project gave me an opportunity to feel myself as junior specialist of a real IT-company. It taught me to work
              in a team and gave an understanding of who is responsible for what in such projects. While working on the Gallery
              section I taught to use grid more easily. Besides I had a chance to work with different platforms for finding and
              operating images. Separately I want to mention our team-leader. Aleksandra Krosnik was constantly in touch and promptly
              resolved new issues. As well as the others team-members.
              I really liked that a lot of supporting materials with detailed instructions were given. A beautiful and well-made
              layout made the work even more enjoyable. This project gave me incomparable experience. It wasn't always possible to
              participate in all the discussions, but I still hope that I got the most out of this interesting work.
            </p>
          </div>
          <span class="reviews__points"></span>
          <p class="reviews__person">Olya Vakhrusheva, developer</p>
        </div>

        <div class="reviews swiper-slide">
          <picture>
            <source srcset="
                        ./images/customer_reviews/anna@1x.webp 85w,
                        ./images/customer_reviews/anna@2x.webp 170w
                      " sizes="(min-width: 85px) 85px" type="image/webp" />
            <img src="./images/customer_reviews/anna.png" alt="developer" />
          </picture>
          <div class="reviews__comment">
            <p class="reviews__text">
              Hi! I'm glad to be part of this team, and grateful for the opportunity to work on this project, that was an
              unforgettable experience.In the project, I was responsible for the header/hero sections and mobile menu.The most
              difficult part was to start; then, everything went smoothly, and team work played its biggest role!
            </p>
          </div>
          <span class="reviews__points"></span>
          <p class="reviews__person">Anna Anatska, developer</p>
        </div>

        <div class="reviews swiper-slide">
          <picture>
            <source srcset="
                        ./images/customer_reviews/andriy@1x.webp 85w,
                        ./images/customer_reviews/andriy@2x.webp 170w
                      " sizes="(min-width: 85px) 85px" type="image/webp" />
            <img src="./images/customer_reviews/andriy.png" alt="developer" />
          </picture>
          <div class="reviews__comment">
            <p class="reviews__text">
                Hey! I am one of the developers in this project. During my work, I gained invaluable experience of working in a team.
            </p>
          </div>
          <span class="reviews__points"></span>
          <p class="reviews__person">Andrey Ratushny, developer</p>
        </div>

        <div class="reviews swiper-slide">
          <picture>
            <source srcset="
                        ./images/customer_reviews/kseniia@1x.webp 85w,
                        ./images/customer_reviews/kseniia@2x.webp 170w
                      " sizes="(min-width: 85px) 85px" type="image/webp" />
            <img src="./images/customer_reviews/kseniia.png" alt="developer" />
          </picture>
          <div class="reviews__comment">
            <p class="reviews__text">
              I want to sincerely thank my team for the excellent teamwork, mutual assistance and pleasant gatherings at the
              stand-ups. Thanks to the team and this project, I was able to learn a lot, develop both technical skills and soft
              skills. I learned to look at things from different angles and not be afraid to seek solutions to problems. This project
              was a wonderful experience and a push for a new future.
            </p>
          </div>
          <span class="reviews__points"></span>
          <p class="reviews__person">Ksenia Kuzina, developer</p>
        </div>

        <div class="reviews swiper-slide">
          <picture>
            <source srcset="
                                ./images/customer_reviews/roman@1x.webp 85w,
                                ./images/customer_reviews/roman@2x.webp 170w
                              " sizes="(min-width: 85px) 85px" type="image/webp" />
            <img src="./images/customer_reviews/roman.png" alt="developer" />
          </picture>
          <div class="reviews__comment">
            <p class="reviews__text">
              I got a great experience working in a team. Previously, working on a website alone had a completely different
              understanding. A team is a whole mechanism that allows you to bring a project step by step from a layout to a fully
              functional website. Discussing the details of the terms of reference and the specifics of the sections helped a lot
              during the development process. Working on the products section, I used flexes to arrange the internal content and
              change the cards themselves, depending on the type of device. At the same time, pictures and points were absolutely
              positioned. And also the rotation of the card is realized by javascript, when the button is pressed
            </p>
          </div>
          <span class="reviews__points"></span>
          <p class="reviews__person">Roman Stankevich, developer</p>
        </div>

        <div class="reviews swiper-slide">
          <picture>
            <source srcset="
                                        ./images/customer_reviews/valentin@1x.webp 85w,
                                        ./images/customer_reviews/valentin@2x.webp 170w
                                      " sizes="(min-width: 85px) 85px" type="image/webp" />
            <img src="./images/customer_reviews/valentin.png" alt="developer" />
          </picture>
          <div class="reviews__comment">
            <p class="reviews__text">
              Hello everybody! A very interesting project, I learned a lot of new and interesting things. Good team! I spent a lot of
              time working on the project with pleasure)
            </p>
          </div>
          <span class="reviews__points"></span>
          <p class="reviews__person">Gritsyk Valentin, developer</p>
        </div>
      </div>
      <div class="swiper-pagination swiper-pagination--custom"></div>
    </div>
  </div>
</section>
