<section class="section-reviews">
  <h2 class="visually-hidden">Customer reviews</h2>
  <div class="container">
    <div class="swiper">
      <div class="swiper-wrapper">
        <div class="reviews swiper-slide">
          <picture>
            <source
              srcset="
                ./images/customer_reviews/alexandra_krosnik@1x.webp 85w,
                ./images/customer_reviews/alexandra_krosnik@2x.webp 170w
              "
              sizes="(min-width: 85px) 85px"
              type="image/webp"
            />
            <img src="./images/customer_reviews/alexandra_krosnik.png" alt="Team lead" />
          </picture>
          <div class="reviews__comment">
            <p class="reviews__text">
              Hi everyone! I am the team lead of this wonderful team! While we were working on the
              project, I was responsible for the technical side and code quality, checking pull
              requests and sending code for a review. I was also testing the live page, fixing
              errors that appeared during development, writing tasks for the team members. Except
              for this, I developed a part of the site as well. In the process, I realized that it
              is not that important who is in the team, but how the team members interact with each
              other, plan their work, and assess their contribution to achieving set goals. To be in
              a team means to put the team's success above your own, take care of every team-mate,
              and solve problems together. Only by working together, can we achieve truly great
              things!
            </p>
          </div>
          <span class="reviews__points"></span>
          <p class="reviews__person">Alexandra Krosnik, team lead</p>
        </div>
        <div class="reviews swiper-slide">
          <picture>
            <source
              srcset="
                ./images/customer_reviews/andriy_viktorovich@1x.webp 85w,
                ./images/customer_reviews/andriy_viktorovich@2x.webp 170w
              "
              sizes="(min-width: 85px) 85px"
              type="image/webp"
            />
            <img src="./images/customer_reviews/andriy_viktorovich.png" alt="Scrum master" />
          </picture>
          <div class="reviews__comment">
            <p class="reviews__text">
              In the project, I was a Scrum Master and was responsible for the "Advanteges" section.
              I also made a modal window. Working in a team, I have gained invaluable experience.
            </p>
          </div>
          <span class="reviews__points"></span>
          <p class="reviews__person">Andriy Novitskiy, scrum master</p>
        </div>
        <div class="reviews swiper-slide">
          <picture>
            <source
              srcset="
                ./images/customer_reviews/olya_vakhrusheva@1x.webp 85w,
                ./images/customer_reviews/olya_vakhrusheva@2x.webp 170w
              "
              sizes="(min-width: 85px) 85px"
              type="image/webp"
            />
            <img src="./images/customer_reviews/olya_vakhrusheva.png" alt="developer" />
          </picture>
          <div class="reviews__comment">
            <p class="reviews__text">
              Командный проект дал возможность почувствовать себя начинающим специалистом в
              настоящей IT-компании. Научил работать в команде и дал понимание того, кто за что
              отвечает в подобных проектах. Верстать сайт с нуля - интересный опыт. А в команде -
              как выяснилось, еще и не так страшно. Особенно когда знаешь, что со-командники помогут
              и подскажут. Отдельно хочется упомянуть нашего тимлида, Александра Кросник постоянно
              была на связи и оперативно решала возникающие вопросы. Ментор Катерина Александрович
              всегда давала полезный фидбек по работе и помогала сделать проект еще лучше. И конечно
              наш скрам-мастер Андрей Новицкий отлично организовал работу и собирал нас ежедневно на
              обсуждения. Очень понравилось, что дается много вспомогательного материала с
              подробными инструкциями. А красивый и грамотно сделанный макет делал работу еще
              приятней. Этот проект дал мне несравненный опыт, как верстки, так и командой работы.
              Не всегда получалось участвовать во всех обсуждениях, но все таки надеюсь, что
              получила максимум из этой интересной работы.
            </p>
          </div>
          <span class="reviews__points"></span>
          <p class="reviews__person">Olya Vakhrusheva, developer</p>
        </div>
      </div>
      <div class="swiper-pagination swiper-pagination--custom"></div>
    </div>
  </div>
</section>
