<section class="section">
<div class="container">
    <picture>
        <source media="(max-width: 767px)" srcset="../images/customer_reviews/person1.webp 85w, ../images/customer_reviews/person1@2x.webp 170w" sizes="(min max: 170px) 170px">
        <img src="../images/customer_reviews/person1.jpg" alt="Emily">
    </picture>
    <div class="reviews">
        <p>
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
        </p>
    </div>
</div>
</section>