<div class="modal">
    <button type="button" class="modal__button--close" data-modal-close>
        <svg class="modal__svg" width="11" height="11">
            <use href="./images/icons/sprite.svg#close"></use>
        </svg>
    </button>
    <form class="modal__form">
        <ul class="modal__list">
            <li class="modal__item">
                <p class="modal_product">ice cream</p>
                <div class="modal__input__number">
                    <div class="input-number__minus">-</div>
                    <input class="modal__input" type="number" min="0" max="50">
                    <div class="input-number__plus">+</div>
                </div>
            </li>
            <li class="modal__item">

                <p class="modal_product">ice coffee</p>
                <div class="modal__input__number">
                    <div class="input-number__minus">-</div>
                    <input class="modal__input" type="number" min="0" max="50">
                    <div class="input-number__plus">+</div>
                </div>
            </li>
            <li class="modal__item">
                <p class="modal_product">milkshakes</p>
                <div class="modal__input__number">
                    <div class="input-number__minus">-</div>
                    <input class="modal__input" type="number" min="0" max="50">
                    <div class="input-number__plus">+</div>
                </div>
            </li>
        </ul>
        <div class="modal__contacts">
            <p class="modal__name">Name</p>
            <input type="text" class="modal__name__input">
            <p class="modal__phone">Phone</p>
            <input type="text" class="modal__phone__input modal__last__input">
            <button class="modal__checkout " type="button">buy</button>
        </div>
    </form>

</div>