<div class="modal">
    <button type="button" class="modal__button--close" data-modal-close>
        <svg class="modal__svg" width="11" height="11">
            <use href="./images/icons/sprite.svg#close"></use>
        </svg>
    </button>
    <form class="modal__form">
        <ul class="modal__list">
            <li class="modal__item">
                <p class="modal_product">ice cream</p>
                <div class="modal__input__number">
                    <div class="input-number__minus">-</div>
                    <input class="modal__input" type="number">
                    <div class="input-number__plus">+</div>
                </div>
            </li>
            <li class="modal__item">

                <p class="modal_product">ice coffee</p>
                <div class="modal__input__number">
                    <div class="input-number__minus">-</div>
                    <input class="modal__input" type="number">
                    <div class="input-number__plus">+</div>
                </div>
            </li>
            <li class="modal__item">
                <p class="modal_product">milkshakes</p>
                <div class="modal__input__number">
                    <div class="input-number__minus">-</div>
                    <input class="modal__input" type="number">
                    <div class="input-number__plus">+</div>
                </div>
            </li>
        </ul>
        <button class="modal__checkout" type="button">buy</button>
    </form>

</div>