<section class="products section" id="about-us">
    <div class="products__container container">
        <p class="products__condition section__pre-title">100% natural</p>
        <h2 class="products__title section__title">products</h2>
        <ul class="products__list">
            <li class="products__item">
                <h3 class="products__name">ice cream</h3>
                <span class="products__dot"></span>
                <div class="products__flipper" card >
                    <div class="products__description--front">
                        <p class="products__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit
                            nesciunt dolore omnis officia distinctio impedit non ex doloremque error dolorum.</p>
                    </div>
                    <div class="products__description--back">
                        <p class="products__description">Proin sit amet mattis sem. Praesent nulla arcu, finibus a
                            aliquet ultrices,
                            laoreet vitae libero. Donec accumsan massa
                            in neque.</p>
                    </div>
                </div>
                <button class="products__button" type="button" card-rotate >
                    <svg class="products__icon">
                        <use href="./images/icons/sprite.svg#arrow-right">
                        </use>
                    </svg>
                </button>
            </li>
            <li class="products__item">
                <h3 class="products__name">ice coffee</h3>
                <span class="products__dot"></span>
                <div class="products__flipper" card2 >
                    <div class="products__description--front">
                        <p class="products__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit
                            nesciunt dolore omnis officia distinctio impedit non ex doloremque error dolorum.</p>
                    </div>
                    <div class="products__description--back">
                        <p class="products__description">Proin sit amet mattis sem. Praesent nulla arcu, finibus a
                            aliquet
                            ultrices,
                            laoreet vitae libero. Donec accumsan massa
                            in neque.</p>
                    </div>
                </div>
                <button class="products__button" type="button" card-rotate2 >
                    <svg class="products__icon">
                        <use href="./images/icons/sprite.svg#arrow-right">
                        </use>
                    </svg>
                </button>
            </li>
            <li class="products__item">
                <h3 class="products__name">milkshakes</h3>
                <span class="products__dot"></span>
                <div class="products__flipper" card3 >
                    <div class="products__description--front">
                        <p class="products__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit
                            nesciunt dolore omnis officia distinctio impedit non ex
                            doloremque error dolorum.</p>
                    </div>
                    <div class="products__description--back">
                        <p class="products__description">Proin sit amet mattis sem. Praesent nulla arcu, finibus a
                            aliquet
                            ultrices,
                            laoreet vitae libero. Donec accumsan massa
                            in neque.</p>
                    </div>
                </div>
                <button class="products__button" type="button" card-rotate3 >
                    <svg class="products__icon">
                        <use href="./images/icons/sprite.svg#arrow-right">
                        </use>
                    </svg>
                </button>
            </li>
        </ul>
    </div>
</section>