.reviews{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 86px;
}
.reviews__comment {
  position: relative;
  background-color: $background-gray-color;
  max-width: 280px;
  height: 308px;
  padding: 43px 66px 26px 57px;
  margin: 0 auto;
  margin-bottom: 30px;
  margin-top: 29px;

  &::before {
    position: absolute;
    top: 28px;
    left: 61px;
    content: ' ';
    width: 54px;
    height: 40px;
    background: url(//src/images/icons/quotes.svg);
  }
}
.reviews__text {
  background: repeating-linear-gradient(transparent, transparent 29px, $background-line-gray-color 10px, $background-line-gray-color 30px);
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 255%;
  text-align: center;
}
.reviews__person {
  display: flex;
  flex-direction: column;
  font-weight: 500;
  font-size: 14px;
  line-height: 186%;
  text-align: center;

  &::before {
    content: '. . .';
    height: 4px;
    color: $button-hover-color-red;
    margin-bottom: 18px;
  }
}
.swiper {
  width: 100%;
  height: 100%;
}
