@mixin picture__modal__before($pic, $width, $height) {
  content: '';
  background-image: url($pic);
  width: $width;
  height: $height;
  // background-size: contain;
  background-position-x: center;
  background-position-y: center;
  background-repeat: no-repeat;
  top: 0px;
  overflow: hidden;
  display: block;
  border-radius: 30%;
}

$mobile__picture__width: 175px;
$mobile__picture__heigth: 150px;
$tablet__picture__width: 200px;
$tablet__picture__heigth: 300px;
$desctop__picture__width: 200px;
$desctop__picture__heigth: 300px;

.modal {
  z-index: 5;
  position: fixed;
  width: 80vw;
  height: 90vh;
  min-width: 320px;
  top: 5vh;
  left: 10vw;
  opacity: 1;
  background-image: linear-gradient($primary-white-color 80%, $button-hover-color-red);
  border: 5px solid $primary-red-color;
  border-radius: 50px;

  @media screen and (max-width: 880px) {
    width: 100vw;
  }
}

.modal__list {
  display: flex;
  justify-content: center;
  flex-direction: column;
  @media screen and (min-width: 880px) {
    flex-direction: row;
    padding-top: 20vh;
  }
}

.modal__item {
  display: block;
  margin-left: auto;
  margin-right: auto;
  &:nth-child(1)::before {
    @media screen and (max-width: 480px) {
      @include picture__modal__before(
        '../images/products/mobile-ice-cream.png',
        $mobile__picture__width,
        $mobile__picture__heigth
      );

      @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        @include picture__modal__before(
          '../images/products/mobile-ice-cream@2x.png',
          $mobile__picture__width,
          $mobile__picture__heigth
        );
        background-size: contain;
      }
    }

    @media screen and (min-width: 481px) {
      @include picture__modal__before(
        '../images/products/tablet-ice-cream.png',
        $tablet__picture__width,
        $tablet__picture__heigth
      );

      @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        @include picture__modal__before(
          '../images/products/tablet-ice-cream@2x.png',
          $tablet__picture__width,
          $tablet__picture__heigth
        );
        background-size: contain;
      }
    }

    @media screen and (min-width: 769px) {
      @include picture__modal__before(
        '../images/products/desktop-ice-cream.png',
        $desctop__picture__width,
        $desctop__picture__heigth
      );

      @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        @include picture__modal__before(
          '../images/products/desktop-ice-cream@2x.png',
          $desctop__picture__width,
          $desctop__picture__heigth
        );
        background-size: contain;
      }
    }
  }

  &:nth-child(2)::before {
    @media screen and (max-width: 480px) {
      @include picture__modal__before(
        '../images/products/mobile-coffee.png',
        $mobile__picture__width,
        $mobile__picture__heigth
      );

      @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        @include picture__modal__before(
          '../images/products/mobile-coffee@2x.png',
          $mobile__picture__width,
          $mobile__picture__heigth
        );
        background-size: contain;
      }
    }

    @media screen and (min-width: 481px) {
      @include picture__modal__before(
        '../images/products/tablet-coffee.png',
        $tablet__picture__width,
        $tablet__picture__heigth
      );

      @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        @include picture__modal__before(
          '../images/products/tablet-coffee@2x.png',
          $tablet__picture__width,
          $tablet__picture__heigth
        );
        background-size: contain;
      }
    }

    @media screen and (min-width: 769px) {
      @include picture__modal__before(
        '../images/products/desktop-coffee.png',
        $desctop__picture__width,
        $desctop__picture__heigth
      );

      @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        @include picture__modal__before(
          '../images/products/desktop-coffee@2x.png',
          $desctop__picture__width,
          $desctop__picture__heigth
        );
        background-size: contain;
      }
    }
  }

  &:nth-child(3)::before {
    @media screen and (max-width: 480px) {
      @include picture__modal__before(
        '../images/products/mobile-milkshake.png',
        $mobile__picture__width,
        $mobile__picture__heigth
      );

      @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        @include picture__modal__before(
          '../images/products/mobile-milkshake@2x.png',
          $mobile__picture__width,
          $mobile__picture__heigth
        );
        background-size: contain;
      }
    }

    @media screen and (min-width: 481px) {
      @include picture__modal__before(
        '../images/products/tablet-milkshake.png',
        $tablet__picture__width,
        $tablet__picture__heigth
      );

      @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        @include picture__modal__before(
          '../images/products/tablet-milkshake@2x.png',
          $tablet__picture__width,
          $tablet__picture__heigth
        );
        background-size: contain;
      }
    }

    @media screen and (min-width: 769px) {
      @include picture__modal__before(
        '../images/products/desktop-milkshake.png',
        $desctop__picture__width,
        $desctop__picture__heigth
      );

      @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        @include picture__modal__before(
          '../images/products/desktop-milkshake@2x.png',
          $desctop__picture__width,
          $desctop__picture__heigth
        );
        background-size: contain;
      }
    }
  }
}

.modal_product {
  color: $primary-red-color;
  font-family: $secondary-font;
  font-size: 34px;
  line-height: 1, 15;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.modal__checkout {
  display: block;
  min-width: 250px;
  min-height: 75px;
  margin: 0 auto;
  background-color: $primary-white-color;
  border-radius: 10px;

  color: $decoration-pink-color;
  font-family: $secondary-font;
  font-size: 26px;
  line-height: 1.15;
  text-transform: uppercase;
}

.modal__input__number {
  display: flex;
  align-items: center;
  background: #ffffff;
  border: 2px solid $primary-red-color;
  box-sizing: border-box;
  border-radius: 6px;
  color: $primary-red-color;
  font-size: 14px;
  text-align: center;

  margin-bottom: 50px;
}
.modal__input {
  background: #e5e8ee;
  width: 50%;
  height: 40px;
  border: none;
  padding: 8px;
  text-align: center;
}
.input-number__minus,
.input-number__plus {
  font-size: 30px;
  width: 25%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
}
