.modal {
  z-index: 5;
  position: fixed;
  width: 80vw;
  height: 80vh;
  top: 0;
  left: 0;
  background-color: $background-dark-pink-color;
  background-image: url('./../images/header_hero/desktop-ice-cream.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  border: none;
}
.modal__close__btn {
  color: tomato;
}

.modal__close__icon {
  fill: $primary-white-color;
}
